/* General Body Styles */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(108, 149, 238);
}

/* Header Styles */
header {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: 
    repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 10px), 
    repeating-linear-gradient(#444cf755, #444cf7); 
  background-repeat: repeat; 
  line-height: 3rem;
  padding: 10px; /* Reduce padding */
  color: rgb(8, 8, 82);
  text-decoration: none;
  text-shadow: 1px 1px #000000;
  margin-bottom: 20px; 
  margin-top: 0; 
}

/* Image Styles */
.img-right {
  float: right;
  margin: 30px 0 10px 20px; /* Increase top margin */
  border: 2px solid rgb(8, 8, 82);
  padding: 5px;
  border-radius: 50px;
  max-width: 125px; 
  height: auto; 
  
}

/* Primary Navigation Styles */
nav.primary ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none; 
  background-color: transparent; 
  gap: 1rem; 
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
}

nav.primary ul li {
  width: 100%; 
}

nav.primary ul li a {
  display: block; 
  padding: 15px 20px; 
  background-color: #444cf7; 
  color: white; 
  text-decoration: none;
  text-align: center;
  border: 2px solid #1c1e5a; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

nav.primary ul li a:hover {
  background-color: #2c34b5; 
  box-shadow: 5px 5px 5px 0px rgba(22, 32, 77, 0.75); 
}

/* Content Styles */
#content { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 4px double #1c1e5a;
  background-color: lightblue;
  gap: 1rem;
  margin: 20px; 
  padding: 20px; 
}

#content p {
  margin-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkblue;
}

#content h2 {
  color: darkblue;
  border-bottom: 2px solid black;
  margin-left: 25px;
  border-radius: 10px;
}

#content li {
  list-style-type: square;
  margin-left: 20px;
}

/* Footer Styles */
footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  clear: both; 
}

footer a {
  color: #0077cc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}